<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <th>S.No</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
      </thead>
      <!-- ginjor template -->
      {% for user in users %}
      <tr>
        <td>{{ user["user_id"]}}</td>
        <td>{{ user["username"]}}</td>
        <td>{{ user["email"]}}</td>
        <td>{{ user["password"]}}</td>
      </tr>

      {% endfor %}
    </table>
  </body>
</html>
