<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Details</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
      }
      button{
        padding: 10px;
        text-align: left;
        border-radius: 5px;
      }
      #row{
            display:flex;
            justify-content: space-between;
      }

    </style>

</head>
<body>
    <table>
        <thead>
            <th>S.No</th>
            <th>Username</th>
            <th>Phone Number</th>
            <th>E-mail</th>
            <th>Street</th>
            <th>City</th>
            <th>District</th>

        </thead>

        {%for user in details%}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.street}}</td>
            <td>{{user.city}}</td>
            <td>{{user.district}}</td>
            <td id="row">
            
                <button><a href="/hospital/delete-details/{{user.id}}">Delete</a></button>
                <button><a href="/hospital/update-details/{{user.id}}">Edit</a></button>

            </td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>